@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after, &::before {
    box-sizing: inherit;
  }
}

body {
  width: 500px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.2;
  color: #333;
}

ul > li {
  display: block;
  padding: 0 6px;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  &:nth-child(even) {
    background-color: #f2f4f9;
  }
}

td {
  padding: 4px 6px;

  &:not(:last-child) {
    border-right: 1px dotted #aaa;
  }
}

a[href] {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  @include clearfix;

  position: relative;
  height: 32px;
  padding: 4px;
  background-image: linear-gradient(#ffb200, #ff8600);

  button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }

  .btn {
    float: left;
    height: 20px;
    min-width: 20px;
    margin: 2px 0 0 2px;
    padding: 0 4px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 11px;
    line-height: 18px;

    + .btn {
      margin-left: 6px;
    }

    &:disabled {
      color: #eee;
      background-color: #999;
      cursor: default;
    }
  }

  .link {
    float: right;
    padding: 0 4px;
    border: none;
    font-size: 12px;
    line-height: 24px;
  }
}

section {
  margin: 4px;
  padding: 1px;
  border: 1px solid #ccc;
  background-color: #fff;
}

h1 {
  padding-left: 8px;
  background-image: linear-gradient(#ffca4d, #ffab4d);
  color: #666;
  font-weight: bold;
  font-size: 13.5px;
  line-height: 28px;
}

.section-body {
  overflow-x: hidden;

  #form-links & {
    margin: 8px 0;
    overflow-y: auto;
    max-height: 240px;
  }

  #pending-approvals & {
    margin: 0;
  }
}

.info {
  padding: 20px;
  font-size: 13.5px;
  color: #666;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 8px auto;
}

#pending-approvals {
  td:nth-child(2) {
    overflow: hidden;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11.5px;
  }

  td:nth-child(3) {
    text-align: center;
    font-size: 12px;
  }

  h1 {
    @include clearfix;
  }

  .more {
    float: right;
    height: 28px;
    padding: 0 8px;
    border: none;
    background-color: transparent;
    color: #666;
    text-shadow: 1px 1px #ffca4d;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
  }
}
